/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
    font-family: 'Ubuntu', sans-serif;
}

h1, h2 {
    font-weight: 400;
}

/* Контейнер */
.container {
    max-width: 1200px;
    margin: 40px auto 60px auto;
    padding: 0 20px;
}

h1, h2, .gender, .parameters, .activity, .calc-total {
    text-align: center;
}

h2 {
    margin-top: 30px;
}

.gender, .parameters, .activity {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
.gender *, .activity * {
  cursor: pointer;
}

.gender *, .activity *, input {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px 0;
    width: 160px;
    margin: 10px 10px;
}

.gender__choose_active {
    background: #0ACF00;
    color: white;
    border: none;
}

input {
    width: 160px;
    padding-left: 20px;
}

.divider {
    max-width: 500px;
    height: 1px;
    background: gray;
    margin: 50px auto;
}

.calc-total span {
    font-size: 30px;
    font-weight: 700;
    margin-right: 5px;
}
